a {
    color: #262626;
}

a:hover {
    color: #06f;
}

body {
    min-width: 1024px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
    font-size: 14px;
    color: #262626;
    background: #f3f3f3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container{
    min-width: 992px;
}

/* NAV BAR */

.navbar-nav .nav-link>i.fa {
    display: block;
    font-size: 32px;
    text-align: center;
}

.navbar-nav .nav-link>*+* {
    display: block;
    margin-top: 5px;
}

.main {
    margin-top: 20px;
}

.main .carousel {
    margin-bottom: 40px;
}
/* PROJECT PAGE */
.page > header{
    border-bottom: 50px solid #00376d;
}
.projects{
    margin: 40px 0;
    margin-left: -20px;
    margin-right: -20px;
}
.project{
    float: left;
    padding: 20px;
    width: 25%;
}
.page-project .project{
    width: 20%;
}
footer {
    margin-top: 40px;
    text-align: center;
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}